<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Java Test">
    <test name="Test 1">
        <classes>
           <class name="Java_Tests.Test1" />
        </classes>
    </test>
    <test name="Test 2">
            <classes>
                <class name="Java_Tests.Test2" />
            </classes>
    </test>
    <!--<test name="Test_3">-->
        <!--<classes>-->
            <!--<class name="Java_Tests.Test_3" />-->
        <!--</classes>-->
    <!--</test>-->
</suite>