<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test_Java">
    <test name="Test_1">
        <classes>
           <class name="Java_Tests.Test_1" />
        </classes>
    </test>
    <test name="Test_2">
            <classes>
                <class name="Java_Tests.Test_2" />
            </classes>
    </test>
    <!--<test name="Test_3">-->
        <!--<classes>-->
            <!--<class name="Java_Tests.Test_3" />-->
        <!--</classes>-->
    <!--</test>-->
</suite>